@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900');

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

.page-header{
  width: 100vw;
  padding-top: 38px;
  padding-bottom: 32px;
}

.container{
  width: 1110px;
  margin: 0 auto;
  /* font-family: sans-serif; */
}

.container a{
  display: block;
}

.site-logo{
float: left;
}

.site-navigation{
  float: right;
  width: 467px;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.site-navigation li{
  float: left;
}

.site-navigation li:not(:last-child){
  margin-right: 33px;
}

.site-navigation a{
  display: block;
  color: #0f0101;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.site-navigation a:hover{
  color: #1abc9c;
}

.site-navigation a:focus{
  color: #1abc9c;
}

.slaider{
  width: 100vw;
  height: 600px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/2.png);
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}

.but{
  width: 104px;
  height: 104px;
  background-color: #509d8b;
  border: 0;
  display: inline-block;
  color: white;
  font-size: 50px;
  padding: 0px;
}

.but-left{
  float: left;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-position: center;
}

.but-right{
  float: right;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-position: center;
}

.but:hover{
  background-color: #1abc9c;
}

.but:focus{
  background-color: #1abc9c;
}

.text{
  display: inline-block;
  width: 738px;
  text-transform: uppercase;
  margin-left: 80px;
  font-family: 'Roboto';
}

.big-text{
  color: white;
  font-size: 53px;
  padding-bottom: 26px;
  font-weight: 900;
}

.small-text{
  color: #f6f6f6;
  font-size: 22px;
  font-weight: 300;
}

.slaider-box{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

main{
  width: 100vw;
  padding-top: 100px;
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

.section-name{
  font-size: 48px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-family: 'Roboto';
  font-weight: 900;
}

.section-name::after{
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 32px;
  background-color: #1abc9c;
}

.card{
  float: left;
  width: 254px;
  height: 322px;
  display: inline-block;
  margin-right: 31px;
  object-fit: cover;
}

.card:last-child{
  margin-right: 0px;
}

.card-top{
  height: 282px;
  width: 254px;
}

.card-top-one{
  float: left;
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.card-top-two{
  float: left;
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.card-top-three{
  float: left;
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.card-top-four{
  float: left;
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.card-top-overlay{
  display: none;
  height: 263px;
  width: 234px;
  background-color:rgba(114, 114, 114, 0.7);
  border: 10px solid rgba(255, 255, 255, 0.3);
  position: relative;
  background-clip: padding-box;
}

.icon-list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-list li{
  float: left;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.icon-list li:nth-child(3){
  margin-right: 0px;
}

.icon-list span{
  position: absolute;
 top: 75px;
 left: 61px;  
 text-transform: uppercase;
 font-size: 14px;
 color: white;
}


.icon-list button{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.icon-list button:last-child{
  border: 0px;
}

.icon-list li:last-child{
  height: 50px;
  width: 166px;
  background-color: #323232;
  margin-bottom: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

.like{
  background-image: url(../img/11.png);
}

.compare{
  background-image: url(../img/12.png);
}

.time{
  background-image: url(../img/13.png);
}

.buy{
  background-image: url(../img/14.png);
}

.buy span{
  font-family: 'Open Sans';
  font-weight: 400;
}

.card:hover .card-top-overlay{
  display: block;
}

.icon-list li:hover{
  background-color: #1abc9c;
}

.card-bottom{
  float: left;
  height: 40px;
  width: 254px;
  background-color: #323232;
  font-family: 'Roboto';
  font-weight: 900;
}

.name{
  font-size: 18px;
  float: left;
  color: white;
  text-transform: uppercase;
  height: 26px;
  width: 186px;
  text-align: left;
  padding-left: 14px;
  padding-top: 14px;
}

.price{
  font-size: 18px;
  float: right;
  height: 28px;
  width: 54px;
  background-color: #8c8c8c;
  color: white;
  padding-top: 12px;
  text-align: center;
}

.card:hover .name{
  background-color: #1abc9c;
}

.card:hover .price{
  background-color: #7fd9c7;
}

.page-footer{
  height: 88px;
  width: 100vw;
  background-color: #323232;
  position: relative;
}

.page-footer p{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
}

.page-footer span{
  color: #46bfa9;
}



 

