html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.container{
    width: 900px;
    margin: 0 auto;
    color: #626262
}
.navigation-list {
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.navigation-list a{
    display: block;
    font-size: 14px;
}

header{
    padding-top: 75px;
    padding-bottom: 120px;
}

.navigation-list li {
    display: inline-block;
}

.navigation-list li:not(:last-child) {
    margin-right: 100px;
}

.navigation-list li a {
    text-decoration: none;
    color: rgba(98, 98, 98, 255);
    text-transform: uppercase;
}

.navigation-list li a:hover,
.navigation-list li a:focus {
    color: #8ccef8;
}

.container section{
    font-size: 0;
    padding-bottom: 70px;
}

.blok {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    font-size: 14px;
}

.blok1{
    margin-bottom: 130px;
}

.blok2{
    margin-bottom: 54px;
}

.blok:nth-child(2n){
    margin-right: 0;
}

.container img{
    width: 420px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.blok .name{
    margin-bottom: 28px;
}

.blok h2{
    margin-bottom: 34px;
}

.blok .name{
    color:rgba(180, 173, 158, 255);
    text-transform: uppercase;
}

.blok h2 {
    font-size: 30px;
}

.container button{
    display: block;
    margin: 0 auto;
    font-family: inherit; 
    font-size: 20px;
    padding: 22px 34px;
    background-color: white;
    color: #626262;
    border-color: #626262;
    cursor: pointer;
}