$Mont-family: 'Montserrat', sans-serif;

$KS-family: 'Kaushan Script', sans-serif;

$Rob-family: 'Roboto', sans-serif;

$white-color: #fff;

$hover-color: #fce38a;

$head-background-color:rgb(232, 129, 130);

$text-color: rgba(51, 51, 51, 255);

$line-color: #f38181;

$secondary-text-color: rgba(153, 153, 153, 255);

$overlay-color: #95e1d3;

$foot-line-color:#e5e5e5;

$btn-border-color: #e7e7e7;

$mail-color: rgba(204, 204, 204, 255);
