@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap');

header{
    width: 100%;
    height: auto;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
}

.navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-navigation{
    display: flex;
}

.main-navigation a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.site-navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.site-navigation-list a{
    box-sizing: border-box;
    height: 36px;
    width: 90px;
    border: inherit;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.site-navigation-list a:hover{
    border: 2px solid white;
}

.site-navigation-list a{
    font-size: 14px;
}

.company{
    text-align: center;
}

.company-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.about-company{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.company-button{
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background-color: #ff4e50;
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

.company-button a{
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    font-size: 14px;
}

.partner-name{
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.partner-list-item img{
    box-sizing: border-box;
    border-radius: 50%;
}

.partner-list-item div{
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 50%;
    width: 122px;
    height: 122px;   
}

.partner-list-item div::before{
content: '';
display: inline-block;
width: 32px;
height: 32px;
position: absolute;
bottom: 0;
right: 0;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
border: 3px solid white;
box-sizing: content-box;
}

.Bradley-img::before{
    background-image: url(../img/1.png);
    background-color: #ff4e50;
}

.Lucas-img::before{
    background-image: url(../img/3.png);
    background-color:#ffa507;
   
}

.Heather-img::before{
    background-image: url(../img/2.png);
    background-color:#1cd7ad;
}

.Hunter-img::before{
    background-image: url(../img/4.png);
    background-color:#4e73db;
}


.partner-list-item h3{
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.partner-list-item p{
    font-size: 14px;
    color: rgba(102, 102, 102, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.section-button{
    border: 2px solid rgba(255, 78, 80, 255);
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.section-button a{
    display: block;
    text-decoration: none;
    color: rgba(255, 78, 80, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

    